div {
    display: flex;
}

.pie-chart {
  border-radius: 50%;
  height: 30em;
  width: 30em;
}

ul {
  display: flex;
  flex-direction: column;
}

span {
    margin: 1em;
}

.name {
    flex: 66%;
}

.percent {
    flex: 33%;
}

.container {
  width: 80%;
}

.plot {
  width: 80%;
  margin: auto;
  display: flex;
}

.plot>* {
  margin: 1em;
}

ul{
  flex-grow: 1;
}

.item {
  background-color: #00ADB5;
  flex-grow: 1;
  border-radius: 1em;
  margin: 1em auto;
  text-align: left;
  width: 100%;
  display: flex;
}